@using PagedList;
@using PagedList.Mvc;

@model IPagedList<MasterPieceDb.Models.Product>
@{
    ViewBag.Title = "Products";
}
@*<link href="~/Content/PagedList.css" rel="stylesheet" />*@


<!-- catg header banner section -->

<!-- / catg header banner section -->
<!-- product category -->
<section class="s-shop">
    <div class="container">
        <div class="shop-sidebar-btn btn"><span>filter</span></div>
        <div class="row">
            <div class="col-12 col-lg-3 shop-sidebar">
                <ul class="widgets wigets-shop">
                    <li class="widget wiget-cart">
                        <h5 class="title">Cart</h5>
                        <p class="not-product">No products in the cart.</p>
                    </li>
                    <li class="widget wiget-shop-category">
                        <h5 class="title">bikes</h5>
                        <ul>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <li><a href="@Url.Action("GetProductsByCategory", new { categoryName = item })">@item</a></li>

                            }
                            @*<li><p><input type="checkbox" checked><span>Road Bike</span></p></li>
                <li><p><input type="checkbox"><span>Mountain Bike</span></p></li>
                <li><p><input type="checkbox"><span>BMX Bike</span></p></li>
                <li><p><input type="checkbox"><span>City Bike</span></p></li>
                <li><p><input type="checkbox"><span>Kids Bike</span></p></li>*@
                        </ul>
                    </li>
     
                    <li class="widget wiget-price">
            <h5 class="title">price($)</h5>


                @using (Html.BeginForm("FilterByPrice", "Product", FormMethod.Get))
                {
                    <div id="slider-range"></div>
                    <div class="amount-cover">
                        
                        <input type="text" name="minPrice" id="amount-min" value="@ViewBag.min">
                        <span>&mdash;</span>
                        <input type="text" name="maxPrice" id="amount-max" value="@ViewBag.max">
                    </div>


                        <button class="btn" type="submit"><span>Filter</span></button>

                }


        </li>
                    <li class="widget wiget-gender">
                        <h5 class="title">gender</h5>
                        <ul>
                            <li><p><input type="checkbox"><span>Men’s</span></p></li>
                            <li><p><input type="checkbox"><span>Women’s</span></p></li>
                            <li><p><input type="checkbox"><span>Kids</span></p></li>
                        </ul>
                    </li>
                    <li class="widget wiget-brand">
                        <h5 class="title">brand</h5>
                        <ul>
                            <li><p><input type="checkbox"><span>Focus</span></p></li>
                            <li><p><input type="checkbox"><span>Radon</span></p></li>
                            <li><p><input type="checkbox"><span>Cube</span></p></li>
                            <li><p><input type="checkbox"><span>Bikes</span></p></li>
                            <li><p><input type="checkbox"><span>Cruzee</span></p></li>
                        </ul>
                    </li>
                    <li class="widget wiget-color">
                        <h5 class="title">color</h5>
                        <ul>
                            <li style="background: #f3deca"></li>
                            <li style="background: #fa9483"></li>
                            <li style="background: #2d4057"></li>
                            <li style="background: #4097aa"></li>
                            <li style="background: #0ac693"></li>
                            <li style="background: #0c5061"></li>
                            <li style="background: #f74440"></li>
                            <li style="background: #e0e44a"></li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="reset-filter-btn">Reset Filters</a>
            </div>
            <div class="col-12 col-lg-9 shop-cover">

                @if (!string.IsNullOrEmpty(Request.QueryString["categoryName"]))
                {

                    <h2 class="title">@(Request.QueryString["categoryName"])</h2>



                }
                else
                {
                    <h5 class="title">All Products</h5>
                }
               
                <div class="shop-sort-cover">
                    <div class="sort-left">@Model.Count() products found</div>
                    <div class="sort-right">
                        <div class="sort-by">
                            <span class="sort-name">sort by:</span>
                            <select class="nice-select">
                                <option selected="selected" disabled>best selling</option>
                                <option>new product</option>
                                <option>sale product</option>
                            </select>
                        </div>
                        <ul class="sort-form">
                            <li data-atr="large"><i class="fa fa-th-large" aria-hidden="true"></i></li>
                            <li data-atr="block" class="active"><i class="fa fa-th" aria-hidden="true"></i></li>
                            <li data-atr="list"><i class="fa fa-list" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="shop-product-cover">
                    <div class="row product-cover block">

                        @if (Model != null || Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                { Html.RenderPartial("_Product", item); }
                            }
                        }
                        else
                        {

                            <h3>Sorry! There is no Product available</h3>
                        }


                    </div>
                    <div class="pagination-cover">
                        <ul class="pagination">
                            <li class="pagination-item item-prev"><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            <li class="pagination-item active"><a href="#">1</a></li>
                            <li class="pagination-item"><a href="#">2</a></li>
                            <li class="pagination-item"><a href="#">3</a></li>
                            <li class="pagination-item"><a href="#">4</a></li>
                            <li class="pagination-item"><a href="#">5</a></li>
                            <li class="pagination-item item-next"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<!-- / product category -->
<script src="~/assets/js/jquery-2.2.4.min.js"></script>
<script src="~/assets/js/slick.min.js"></script>
<script src="~/assets/js/jquery-ui.js"></script>
<script src="~/assets/js/jquery.nice-select.js"></script>
<script src="~/assets/js/scripts.js"></script>
 


 